body{
    text-align: center;
    font-size: 1.5rem;
    background-color: rgb(116, 164, 240);
    color: white;
}

button,input{
    color: white;
    font-size: 1.25rem;
    text-align: center;
    background-color: black;
    border-radius: 8px;
    margin-top: 8px;
}

#resposta{
    color: rgb(150, 5, 5);
    font-size: 1.5rem;
    text-align: center;
    border-radius: 8px;
    margin-top: 8px;
}

hr{
    border: 2px solid  red;
}